*{
    margin: 0;
    padding: 0;
}
body{
    margin: 1%;
    background-color: coral;
}
.titilo-blog{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
.texto-destaque{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}
.urgente{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    margin: 15px;
    padding: 0.5%;
    border: 1px, solid black;
    border-radius: 360px;
    text-align: center;
 
 
}
